@model Sales.Application.Dtos.UsuarioDto.UsuarioCreationDto

<div asp-validation-summary="ModelOnly"></div>

<div class="bg-white border border-4 rounded-lg shadow m-10">

    <div class="flex items-start justify-between p-4 border-b rounded-t">
        <h3 class="text-xl font-semibold w-full">
           Crear Usuario
        </h3>
        <div class="w-full pr-6 flex flex-row-reverse items-center">
            <a asp-controller="Usuarios" asp-action="Index" class="border border-3 border-b-black  mr-2.5 rounded-full cursor-pointer">
                <svg height="30" width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Volver</title><path d="M21,11H6.83L10.41,7.41L9,6L3,12L9,18L10.41,16.58L6.83,13H21V11Z" /></svg>
            </a>
        </div>
    </div>

    <div class="p-6 space-y-6">
        <form asp-controller="Usuarios" asp-action="Create" method="post">
            <div class="grid grid-cols-6 gap-6 pb-3">
                <div class="col-span-6 sm:col-span-3">
                    <label for="Nombre" class="text-sm font-medium text-gray-900 block mb-2">Nombre</label>
                    <input type="text" name="Nombre" asp-for="Nombre" id="Nombre" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Hector Reyes" >
                    <span asp-validation-for="Nombre" class="text-red-400"></span>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="Correo" class="text-sm font-medium text-gray-900 block mb-2">Correo</label>
                    <input type="text" name="Correo" asp-for="Correo" id="Correo" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="hector@gmail.com" >
                    <span asp-validation-for="Correo" class="text-red-400"></span>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="Clave" class="text-sm font-medium text-gray-900 block mb-2">Clave</label>
                    <input type="password" name="Clave" asp-for="Clave" id="Clave" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="password" >
                    <span asp-validation-for="Clave" class="text-red-400"></span>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="Telefono" class="text-sm font-medium text-gray-900 block mb-2">Teléfono</label>
                    <input type="text" name="Telefono" asp-for="Telefono" id="Telefono" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="809-343-2342" >
                    <span asp-validation-for="Telefono" class="text-red-400"></span>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="urlFoto" class="text-sm font-medium text-gray-900 block mb-2">Foto</label>
                    <input type="text" name="UrlFoto" asp-for="UrlFoto" id="urlFoto" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="http://imagen.png" >
                    <span asp-validation-for="UrlFoto" class="text-red-400"></span>
                </div> 
                
                <div class="col-span-6 sm:col-span-3">
                    <label for="EsActivo" class="text-sm font-medium text-gray-900 block mb-2">¿Activo?</label>
                    <label class="relative inline-block">
                        <input type="checkbox" name="EsActivo" id="EsActivo" class="peer opacity-0" />
                        <span class="absolute top-0 left-0 w-9 h-5 cursor-pointer rounded-full bg-slate-200 border border-slate-300 transition-all duration-100 peer-checked:bg-sky-700"></span>
                        <span class="absolute top-0.5 left-0.5 w-4 h-4 bg-white rounded-full z-10 transition-all duration-100 peer-checked:translate-x-4"></span>
                    </label>
                </div>
            </div>
            <div class="p-6 border-t border-gray-200 rounded-b">
                <button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>